@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";
@import "./fonts.css";

@theme {
  --font-sans: "Inter Display", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-xs: 390px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;

  --index: calc(1vw + 1vh);
}

.container {
  @apply px-8 max-lg:px-4 max-w-full;
}

.title {
  @apply font-bold text-[40px]/12 max-xl:text-3xl/10 uppercase tracking-tight max-xs:text-2xl;
}

.subtitle {
  @apply max-sm:text-sm max-xl:text-base text-xl/6;
}

body {
  @apply selection:bg-red-500 selection:text-zinc-950
}


/* Bottom footer */
#wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.menu-item {
  @apply block max-lg:inline-block lg:py-5 lg:pl-5 lg:font-medium text-zinc-400 hover:text-zinc-50 active:text-zinc-50 max-lg:text-6xl/none uppercase transition-colors max-lg:translate-y-full duration-300;
}